@model Registration 


<h2>
    You've succesfully  entered such data :
</h2>

<table class="table mt-5">

    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Address</th>
    </tr>
    
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Surname</td>
        <td>@Model.Age</td>
        <td>@Model.Address</td>
    </tr>

</table>

<p>Thank you for staying with us :)</p>


